{% extends 'MyRecipes/base.html' %}
{% load static %}


<!-- ========================== Setting title for Recipe Page =============================== -->


{% block background %}
  <style>
    body {
        background-image: url("");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .btn:hover{
    background-color: black;
    border-color: #9c7945; 
    box-shadow: 10px 10px 10px #9c7945;
    font-weight: bold
  }
  
  </style>
{% endblock background %}


{% block register %} 

<div class="container">
    <h2 class="border-bottom mb-5 text-center">You have signed out</h2>
    <div class="border-top-solid pt-3">
        <a href="{% url "user-login" %}">Sign back in...</a>
    </div>
</div>

{% endblock register %} 